.search-bar {
  position: fixed;
  left: 0;
  margin-left: 100px;
}

.dialog-header {
  position:absolute;
  top:0;
  right:0;
}

.slider {
  width: 50%;
  margin: 0 auto;
  background-color: green;
}

.progress {
  display: table;
  margin: 0 auto;
}

.footer {
  bottom: 0;
  color: #808080;
  font-size: .8em;
  height: 60px;
  position: absolute;
  text-align: center;
  width: 100%;
}
