.search-bar {
  position: fixed;
  left: 0;
  margin-left: 100px;
}

.dialog-header {
  position:absolute;
  top:0;
  right:0;
}

.slider {
  width: 50%;
  margin: 0 auto;
  background-color: green;
}

.progress {
  display: table;
  margin: 0 auto;
}
